# 🔹 Entorno virtual
venv/
.env

# 🔹 PyInstaller
dist/
build/

# 🔹 Archivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Caché y logs
*.log
*.sqlite3

# 🔹 Entornos
.env.*
*.env

# 🔹 Jupyter / IPython
.ipynb_checkpoints/
.ipython/

# 🔹 Sistemas operativos
.DS_Store
Thumbs.db

# 🔹 IDEs
.vscode/
.idea/
*.swp

# 🔹 Pip
pip-wheel-metadata/
