fastapi==0.127.0
mediapipe==0.10.14

tensorflow==2.16.1

numpy==1.26.4

opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78

onvif_zeep==0.2.12
pydantic==2.12.5
python-dotenv==1.2.1
requests==2.32.5
uvicorn==0.40.0
